
.my-order-page {
    padding: 20px;
    background-color: #f9f9f9;
    min-height: 100vh;
}
  
.page-title {
    text-align: center;
    color: #333;
    margin-bottom: 32px;
    font-weight: bold;
    font-size: 24px;
}
  
.order-item-wrapper {
    background-color: #ffffff;
    padding: 16px;  
    border-radius: 6px; 
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; 
    max-width: 90%; 
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.2s ease;
}
  
.order-item-wrapper:hover {
    transform: scale(1.01); 
}
  
.order-number {
    font-size: 16px; 
    font-weight: bold;
    color: #007bff;
    margin-bottom: 12px; 
}
  
  
.order-page-product-item {
    display: flex;
    align-items: center;
    padding: 16px;
    background-color: #f4f4f4;
    border-radius: 8px;
    margin-bottom: 16px;
}
  
.order-page-product-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 16px;
}
  
.order-page-item-meta-title {
    font-size: 16px;
    font-weight: 500;
    color: #333;
}
  
.order-page-item-meta-description {
    font-size: 14px;
    color: #555;
}
  
.order-actions {
    display: flex;
    justify-content: flex-start;
    margin-top: 16px;
}
  
button {
    transition: background-color 0.3s ease;
}
  
button:hover {
    opacity: 0.8;
}
  
.ant-btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}
  
.ant-btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff;
}
  
.total-price {
    text-align: center;
    font-weight: bold;
    color: #333;
    font-size: 16px; 
    margin-top: 16px;
    padding: 8px;
    background-color: #e9ecef;
    border-radius: 8px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
  
  