.wrapper-label-text {
    color: rgb(56, 56, 61);
    font-size: 16px;
    font-weight: 500;
}

.wrapper-text-value {
    color: rgb(56, 56, 61);
    font-size: 14px;
    font-weight: 600;
}

.wrapper-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.wrapper-text-price {
    padding: 4px;
    color: rgb(56, 56, 61);
    border-radius: 10px;
    background-color: rgb(238, 238, 238);
    width: fit-content;
}

@media (max-width: 768px) {
    .wrapper-label-text {
        font-size: 14px; 
    }

    .wrapper-text-value {
        font-size: 12px;
    }

    .wrapper-content {
        gap: 10px; 
    }
}


@media (max-width: 480px) {
    .wrapper-label-text {
        font-size: 12px;
    }

    .wrapper-text-value {
        font-size: 10px; 
    }

    .wrapper-content {
        gap: 8px;
    }
}

@media (max-width: 320px) {
    .wrapper-label-text {
        font-size: 10px; 
    }

    .wrapper-text-value {
        font-size: 8px; 
    }

    .wrapper-content {
        gap: 6px; 
    }
}
