/* General Styles for SignUpPage */
.signup-page {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.53);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .signup-container {
    width: 900px;
    height: 480px;
    border-radius: 40px;
    background: #fff;
    display: flex;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 1);
  }
  
  .signup-container-left {
    flex: 1;
    padding: 40px 45px 24px;
    display: flex;
    flex-direction: column;
  }
  
  .signup-container-right {
    width: 300px;
    background: linear-gradient(136deg, rgb(240, 248, 255) -1%, rgb(219, 238, 255) 85%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    border-radius: 40px;
  }
  
  .text-light {
    color: rgb(13, 92, 182);
    font-size: 13px;
    cursor: pointer;
  }
  
  .signup-header {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
    color: rgb(255, 57, 69);
  }
  
  .signup-description {
    font-size: 16px;
    color: #666;
  }
  
  .signup-container-left input {
    font-size: 16px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .signup-container-left input:focus {
    border-color: rgb(255, 57, 69);
  }
  
  .signup-password-toggle {
    position: absolute;
    top: 12px;
    right: 10px;
    cursor: pointer;
    color: rgb(255, 57, 69);
  }
  
  .signup-button {
    background-color: rgb(255, 57, 69);
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    padding: 15px;
    border-radius: 8px;
    width: 100%;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .signup-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .signup-button:hover {
    background-color: rgb(255, 41, 51);
  }
  
  
  /* 768px and below */
  @media (max-width: 768px) {
    .signup-container {
      flex-direction: column;
      height: auto;
    }
  
    .signup-container-left {
      padding: 30px;
      width: 100%;
      align-items: center;
    }
  
    .signup-container-right {
      display: none;
    }
  
    .signup-page {
      background: rgba(0, 0, 0, 0.5);
    }
  
    .signup-header {
      font-size: 28px;
    }
  
    .signup-button {
      padding: 14px;
      font-size: 14px;
    }
  }
  
  /* 480px and below */
  @media (max-width: 480px) {
    .signup-container {
      width: 100%;
      height: auto;
    }
  
    .signup-container-left {
      padding: 20px;
    }
  
    .signup-header {
      font-size: 24px;
      text-align: center;
    }
  
    .signup-description {
      font-size: 14px;
      text-align: center;
    }
  
    .signup-container-left input {
      font-size: 14px;
      padding: 10px;
    }
  
    .signup-button {
      padding: 12px;
      font-size: 14px;
    }
  }
  
  /* 320px and below */
  @media (max-width: 320px) {
    .signup-container {
      width: 100%;
      height: auto;
      padding: 10px;
    }
  
    .signup-container-left {
      padding: 10px;
    }
  
    .signup-header {
      font-size: 20px;
      text-align: center;
    }
  
    .signup-description {
      font-size: 12px;
      text-align: center;
    }
  
    .signup-container-left input {
      font-size: 12px;
      padding: 8px;
    }
  
    .signup-button {
      padding: 10px;
      font-size: 12px;
    }
  }
  