.logo-container {
    height: 64px; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin: 16px -16px; 
    background: rgba(255, 255, 255, 0.3);
    border-radius: 8px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    padding: 0; 
    overflow: hidden; 
    width: 215px;
}

.admin-icon {
    font-size: 24px; 
    margin-right: 8px; 
    color: #1890ff;
}

.logo-text {
    font-size: 20px; 
    font-weight: bold; 
    color: #333; 
}


.ant-layout-sider {
    background: #001529;
}

.ant-menu-dark .ant-menu-item-selected {
    background-color: #1890ff;
    color: white;
}

.ant-menu-dark .ant-menu-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.ant-breadcrumb {
    background: rgba(255, 255, 255, 0.9); 
    border-radius: 8px; 
    padding: 8px; 
}
