
.type-product {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: flex-start;  
    height: 44px;
}


.button-more {
    width: 100%;
    text-align: center;
    margin-top: 20px; 
    margin-bottom: 20px; 
}


.products {
    display: flex;
    gap: 14px;
    margin-top: 20px;
    flex-wrap: wrap; 
}


#container {
    background-color: #F1F1F1;
    padding: 0 120px;
    display: flex;
    flex-direction: column; 
    min-height: calc(100vh - 150px);
}


